:root{

    --preto: #141414 ;
}

*{
    border:none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.3s;
}

body{ 
    background-color: var(--preto);
}

.cadastro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: 90%;
    margin: 25px auto;

    height: 300px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: antiquewhite;
}

.input{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;

}

.input-style{
    border: 1px solid gray;
    border-radius: 5px;
    width: 50%;
    height: 3em;
    margin: 10px 0;
}

.submit{
    color: aliceblue;
    background: rgb(5, 5, 107) ;    

    font-weight: bold;
    font-size: 16px;

    margin-top:5px ;
    padding: 10px 0;
    width: 50%;
    border-radius: 6px;
}

.submit:hover{
    cursor: pointer;
    transform: scale(1.1);

    color: rgb(5, 5, 107);
    background: aliceblue ;   
}

.conteiner{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movieList{
    width: 40%;
}

.movieList {
    list-style-type:none ;    
}
.movieList h2::before {
    content:"\25CB";
}
.movieList h2 {
    font-size: 30px;
}

.movieList ul li {
    margin: 10px 0 0 35px ;
    font-size: 18px;
    list-style-type: disc;
    
}

.stars{
    display: flex ;
    flex-direction: row;
    justify-content: start;
}

.star-hidden{
    display: none;
}

.stars .star-icon{
    list-style-type: none;
    border: 1px solid --preto;
    cursor: pointer;
    color: #ffe500;
    font-size: 30px;
    margin: 5px 5px;
}

.star-icon::before{
    content: "\2605";
}

.star-icon.ativo ~ .star-icon::before{
    content: "\2606";
}

.stars:hover .star-icon::before{
    content: "\2605";

}

.star-icon:hover ~ .star-icon::before{
    content: "\2606";
}

.continer-btn {
    display: flex;
    justify-content: space-evenly;

}

.btn{
    font-size: 15px;
    
    width: 30%;
    padding: 5px 0;
    border-radius: 6px;
    margin: 10px 0 30px 0;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.12);

}

.remove{
    background: rgb(163, 11, 11);
    color: white;

}

.conteinerAtualiza{
    width: 130%;
    display: flex;
    flex: row;
    justify-content: space-around;
}

.atualizar, .cancelar{
    width: 40%;
}

.cancelar{
    background-color: slategrey;
    color: #141414;
}

.cancelar:hover{
    background-color: rgb(163, 11, 11);
    color: aliceblue;
}

.att-input{
    width: 130%;
    
}

